#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#exprBox{
  width: 400px;
}

.op{
  background-color: red;
  color: white;
}

.op.res{
  background-color: blue;
}


.num{
  background-color: rgb(173, 202, 255);
}